﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>Update Profile</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript">
        
            var borg1 = $('#brideorgroom1').val();
            var fname1 = $('#firstname1').val();
            var lname1 = $('#lastname1').val();
            var email1 = $('#email1').val();
            var borg2 = $('#brideorgroom2').val();
            var fname2 = $('#firstname2').val();
            var lname2 = $('#lastname2').val();
            var email2 = $('#email2').val();


        var logOut = function () {
            $.get('api/logout');
        };
        var preview = function () {
            
            
            var url = 'api/ProfileUpdatePreview?brideorgroom1=' + borg1 + '&firstName1=' + fname1 + '&lastName1=' + lname1 + '&email1=' + email1 + '&brideorgroom2=' + borg2 + + '&firstName2=' + fname2 + '&lastName2=' + lname2 + '&email2=' + email2;

            $.get(url);

        };
        var SaveProfile = function () {

            var url = 'api/ProfileUpdate?brideorgroom1=' + borg1 + '&firstName1=' + fname1 + '&lastName1=' + lname1 + '&email1=' + email1 + '&brideorgroom2=' + borg2 + + '&firstName2=' + fname2 + '&lastName2=' + lname2 + '&email2=' + email2;
            //after saving the usertabs.html page should display
            $.get(url);

        };
        var loadProfile = function () {
            $('#brideorgroom1').val('Groom');
            $('#FirstName1').val('John');
            $('#LastName1').val('Smith');
            $('#email1').val('john.smith@umich.edu');
            $('#brideorgroom2').val('Bride');
            $('#FirstName2').val('Britney');
            $('#LastName2').val('Spears');
            $('#email2').val('britney.spears@umich.edu');
            var prodId = getParameterByName('weddingID');
            alert(prodId);
        }


        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

       
    </script>
</head>
<body onload="loadProfile()">
    <h2>Update Couple Profile</h2>
    <form action="">
        <br>
        <select id="brideorgroom1">
            <option value="Bride">Bride</option>
            <option value="Groom">Groom</option>
        </select>
        <br>
        First Name: <input type="text" id="FirstName1">
        <br>
        Last  Name: <input type="text" id="LastName1">
        <br>
        Email(user login): <input type="email" id="email1">
        
        <br>
        <br>
        <select id="brideorgroom2">
             <option value="Bride">Bride</option>
             <option value="Grood">Groom</option>
        </select>
        <br>
        First Name: <input type="text" id="FirstName2">
        <br>
        Last  Name: <input type="text" id="LastName2">
        <br>
        Email: <input type="email" id="email2">
        <br>
       
        <br>
        <p>Password Upadate:</p>
        New Password: <input type="password" id="Password">
        <br>
        Confirm New Password: <input type="password" id="Password">
        <br>
        <input type="button" onclick="SaveProfile();" value="Save">
        <input type="button" onClick="preview();" value="Preview Site">
        <input type="button" onClick="logOut();" value="Log Out">
        <br>
        </form>   
</body>
</html>