﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>Update Profile</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript">
       
        function writeCookie(name, value, days) {
            var date, expires;
            if (days) {
                date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString();
            } else {
                expires = "";
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var i, c, ca, nameEQ = name + "=";
            ca = document.cookie.split(';');
            for (i = 0; i < ca.length; i++) {
                c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1, c.length);
                }
                if (c.indexOf(nameEQ) == 0) {
                    return c.substring(nameEQ.length, c.length);
                }
            }
            return '';
        }

            var borg1 = $('#brideorgroom1').val();
            var fname1 = $('#firstname1').val();
            var lname1 = $('#lastname1').val();
            var email1 = $('#email1').val();
            var borg2 = $('#brideorgroom2').val();
            var fname2 = $('#firstname2').val();
            var lname2 = $('#lastname2').val();
            var email2 = $('#email2').val();


        var logOut = function () {

            writeCookie('sessionId', "", -1);
            window.location.href = '../index.html'
     
        };
        var preview = function () {
            
            var prodId = getParameterByName('weddingID');
            var str = window.location.href;
            var n = str.lastIndexOf('/');
            var result = str.substr(0, n);

            window.open(result + '/weddingpage.html?weddingID=' + prodId);
        //    var url = 'api/ProfileUpdatePreview?brideorgroom1=' + borg1 + '&firstName1=' + fname1 + '&lastName1=' + lname1 + '&email1=' + email1 + '&brideorgroom2=' + borg2 + + '&firstName2=' + fname2 + '&lastName2=' + lname2 + '&email2=' + email2;

        //    $.get(url);

        };
        var SaveProfile = function () {

            var url = 'api/ProfileUpdate?brideorgroom1=' + borg1 + '&firstName1=' + fname1 + '&lastName1=' + lname1 + '&email1=' + email1 + '&brideorgroom2=' + borg2 + + '&firstName2=' + fname2 + '&lastName2=' + lname2 + '&email2=' + email2;
            //after saving the usertabs.html page should display
            $.get(url);

        };

        var mainMenu = function () {
            var prodId = getParameterByName('weddingID');
            window.location.href = 'UserTabs.html?weddingID=' + prodId;
        }

        var getCouple = function (weddingId) {
            var url = '/api/Attendee?option=couple&WeddingId=' + weddingId;

            $.getJSON()
        }

        var loadProfile = function () {
            var sId = readCookie('sessionId');
            var weddingId = getParameterByName('weddingID');
            if (sId == 'True') {
                if (weddingId != "") {
                    var url = '/api/Attendee?option=couple&WeddingId=' + weddingId;

                    $.getJSON(url, function (data) {
                        if (data.length > 0) {
                            $('#brideorgroom1').val(data[0].WeddingRole);
                            $('#FirstName1').val(data[0].Person.FirstName);
                            $('#LastName1').val(data[0].Person.LastName);
                            $('#email1').val(data[0].Person.Email);
                        }
                        if (data.length > 1) {
                            $('#brideorgroom2').val(data[1].WeddingRole);
                            $('#FirstName2').val(data[1].Person.FirstName);
                            $('#LastName2').val(data[1].Person.LastName);
                            $('#email2').val(data[1].Person.Email);
                        }
                    });
                }
            }
            else {
                window.location.href = '../index.html'
            }
        }


        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

       
    </script>
</head>
<body onload="loadProfile()">
    <h2>Update Couple Profile</h2>
    <form action="">
        <br>
        <select id="brideorgroom1">
            <option value="Bride">Bride</option>
            <option value="Groom">Groom</option>
        </select>
        <br>
        First Name: <br /><input type="text" id="FirstName1" maxlength="50"><br />
        Last  Name: <br /><input type="text" id="LastName1" maxlength="50">
        <br />
        Email(user login): <br /><input type="email" id="email1" maxlength="50">
        
        <br>
        <br>
        <select id="brideorgroom2">
             <option value="Bride">Bride</option>
             <option value="Grood">Groom</option>
        </select>
        <br>
        First Name: <br /><input type="text" id="FirstName2" maxlength="50"><br />
        Last  Name: <br /><input type="text" id="LastName2" maxlength="50">
        <br />
        Email: <br /><input type="email" id="email2" maxlength="50">
        <br>
       
        <br>
        <p>Password Update:</p>
        New Password: <input type="password" id="Password" maxlength="50">
   
        Confirm New Password: <input type="password" id="Password" maxlength="50">
        <br><br />
        <input type="button" onclick="SaveProfile();" value="Save" class="myButton">
        <input type="button" value="Main Menu" onclick="mainMenu();" class="myButton">
        <input type="button" onClick="logOut();" value="Log Out" class="myButton">
        <br>
        </form>   
</body>
</html>