﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript">
        
        function writeCookie(name, value, days) {
            var date, expires;
            if (days) {
                date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString();
            } else {
                expires = "";
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var i, c, ca, nameEQ = name + "=";
            ca = document.cookie.split(';');
            for (i = 0; i < ca.length; i++) {
                c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1, c.length);
                }
                if (c.indexOf(nameEQ) == 0) {
                    return c.substring(nameEQ.length, c.length);
                }
            }
            return '';
        }

        var CreateSite = function () {
            


            var body = {};
            body.fname = $('#firstname').val();
            body.lname = $('#lastname').val();
            body.email = $('#email').val();
            body.pword = $('#password').val();
            //body.who = $('').val();

            body.who = document.getElementById("iamthe").value
            alert(body.who);
            //url = 'api/Register?firstname=' + fname + '&lastname=' + lname + '&email=' + email + '&iamthe=' + who + '&password=' +pword ;
            //after user enters the basic registration information, the profileupdate.html page should display for the user to enter profile info

            var activeSession = 'True';
            writeCookie('sessionId', activeSession, 3);

                        
                        
                        
                         

            var formData = { Email:"mike@mike.mike",Password:"mike",FirstName: "mike",LastName:"mikel" };

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "api/Registration",
                data: formData, //JSON.stringify(body),
                success: function (data) {
                    alert(data);
                    window.location.href = 'usertabs.html?weddingID=' + data;
                },
                error: alert('error')
            });


           
            //$.get(url, function (data) {
            //    alert("Success " + data)
                

        };
    </script>
   
</head>
<body>

    <form action="profileupdate.html">
        First Name:<br /><input type="text" id="firstname" maxlength="50">
        <br>
        Last Name:<br /><input type="text" id="lastname" maxlength="50">
        <br />
        Email (user log on):<br /><input type="email" id="email" maxlength="50">
        <br />
        I am the...
        <select id="iamthe">
            <option  value="Bride" checked>Bride
            <option  value="Groom">Groom
        </select>
            <br>
        Password:<br /><input type="password" id="password" maxlength="50">
        <br />
        Confirm Password:<br /><input type="password" id="password" maxlength="50">

        <br><br>
        <input type="button" value="Submit" onclick="CreateSite();" class="myButton">
    </form>

</body>
</html>