﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript">
        
        function writeCookie(name, value, days) {
            var date, expires;
            if (days) {
                date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString();
            } else {
                expires = "";
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var i, c, ca, nameEQ = name + "=";
            ca = document.cookie.split(';');
            for (i = 0; i < ca.length; i++) {
                c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1, c.length);
                }
                if (c.indexOf(nameEQ) == 0) {
                    return c.substring(nameEQ.length, c.length);
                }
            }
            return '';
        }
        var CheckFields = function () {
            var fName = $('#firstname').val();
            var lName = $('#lastname').val();
            var Email = $('#email').val();
            var Password = $('#password').val();
            var Passwordc = $('#passwordc').val();
            //var Passwordc = $('#passwordc').val();
            //var BrideOrGroom = document.getElementsByName('iamthe')[0].value;
            var fieldisempty = false;
            var passworderror = false;

            if (fName == null || fName == '') {
                $('#errorfname').css('display', 'inline');
                fieldisempty = true;
            } else {
                $('#errorfname').css('display', 'none');
                
            }

            if (lName == null || lName == '') {
                $('#errorlname').css('display', 'inline');
                fieldisempty = true;
            } else {
                $('#errorlname').css('display', 'none');

            }

            if (Email == null || Email == '') {
                $('#erroremail').css('display', 'inline');
                fieldisempty = true;
            } else {
                $('#erroremail').css('display', 'none');

            }

            if (Password == null || Password == '' || Passwordc == null || Passwordc == '' || Passwordc != Password) {
                $('#errorpassword').css('display', 'inline');
                $('#errorpasswordc').css('display', 'inline');
                fieldisempty = true;
                passworderror = true;
            } else {
                $('#errorpassword').css('display', 'none');
                $('#errorpasswordc').css('display', 'none');
            }


            if (passworderror == true || fieldisempty == true) {
                
                alert("Error:re-enter fields with '*' and password & password confirm need to be the same");
            } else {
                CreateSite();
            }

            
        } //end of checkfields function

        var CreateSite = function () {
            
            var body = {};
            body.FirstName = $('#firstname').val();
            body.LastName = $('#lastname').val();
            body.Email = $('#email').val();
            body.Password = $('#password').val();
            body.BrideOrGroom = $('#iamthe').val();


            var activeSession = 'True';
            writeCookie('sessionId', activeSession, 3);

            
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/api/Registration",
                data: JSON.stringify(body),
                success: function (data) {
                    window.location.href = 'usertabs.html?weddingID=' + data;
                },
                failure: function(data){
                    alert("Sorry it looks like that didn't work. Why don't you try again");
                    console.error(data);
                }
            });
        };
    </script>
   
</head>
<body>

    <form action="profileupdate.html">
        First Name:<br /><input type="text" id="firstname" maxlength="50"><p id="errorfname" style="color:red; display:none;">*</p>
        <br>
        Last Name:<br /><input type="text" id="lastname" maxlength="50"><p id="errorlname" style="color:red; display:none;">*</p>
        <br />
        Email (user log on):<br /><input type="email" id="email" maxlength="50"><p id="erroremail" style="color:red; display:none;">*</p>
        <br />
        I am the...
        <select id="iamthe">
            <option  value="Bride" checked>Bride
            <option  value="Groom">Groom
        </select>
            <br>
        Password:<br /><input type="password" id="password" maxlength="50"><p id="errorpassword" style="color:red; display:none;">*</p>
        <br />
        Confirm Password:<br /><input type="password" id="passwordc" maxlength="50"><p id="errorpasswordc" style="color:red; display:none;">*</p>

        <br><br>
        <input type="button" value="Submit" onclick="CheckFields();" class="myButton">
    </form>

</body>
</html>