﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript">
        //jquery
        var CreateSite = function () {
            var fname = $('#firstname').val();
            var lname = $('#lastname').val();
            var email = $('#email').val();
            var pword = $('#password').val();
            var who = $('iamthe').val();
            var url = 'api/Register?firstname=' + fname + '&lastname=' + lname + '&email=' + email + '&iamthe=' + who + '&password=' +pword ;
            //after user enters the basic registration information, the profileupdate.html page should display for the user to enter profile info
            $.get(url, function (data) {
                alert("Success " + data)
            });
        };
    </script>
   
</head>
<body>

    <form action="profileupdate.html">
        First Name:<input type="text" id="firstname">
        <br>
        Last Name:<input type="text" id="lastname">
        <br />
        Email (user log on):<input type="email" id="email">
        <br />
        I am the...
        <input type="radio" id="iamthe" value="Bride" checked>Bride
        <input type="radio" id="iamthe" value="Groom">Groom
        <br>
        Password:<input type="password" id="password">
        <br />
        Confirm Password:<input type="password" id="password">

        <br><br>
        <input type="button" value="Submit" onclick="CreateSite();">
    </form>

</body>
</html>