<!DOCTYPE html>
<html>
<head>
    <title>Please respond to RSVP</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript">
        //set the RSVP information 
        var rsvpLoad = function () {

            var token = getParameterByName('token');
            var guid = $.getJSON("/api/RSVP/" + token, function (data) {
                $("#token").val(data.RSVP.RSVPLinkID);
            });

            
        }
        var SubmitRSVP = function () {
            var Count = $("#guestcount").val();
            var accrej = $("#acceptreject").val();

            $.ajax({
                type: "POST",
                url: "/api/RSVP?RSVPLinkID=" + $("#token").val() + "&Count=" + Count + "&Accepted=" + accrej,
                contentType: "application/json",
                success: function (data) {
                    if (data) {
                        alert("Thank you for responding to the RSVP");
                    }
                    else {
                        alert("Looks like something went wrong!");
                    }
                }
            });
                alert('Thank you for you responding to the RSVP');
                window.top.close();
            }

            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }
        </script>
</head>
<body onload="rsvpLoad()">
    <form><br />
    <h2>RSVP to Our Wedding!</h2>
    <p>Please enter the guest count and select if you'll be able to attend:</p>
        Count:<br /><input type="text"  id="guestcount">
        <input type="hidden" id="token" />
        <br /><select id="acceptreject">
            <option value="accept" checked>Accept
            <option value="reject">Reject
        </select>
        <input type="button" value="Submit" onclick="SubmitRSVP();" class="myButton">
        <br>

    </form>
</body>
</html>
