﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>Send/Recieve RSVP</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript">

        function writeCookie(name, value, days) {
            var date, expires;
            if (days) {
                date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString();
            } else {
                expires = "";
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var i, c, ca, nameEQ = name + "=";
            ca = document.cookie.split(';');
            for (i = 0; i < ca.length; i++) {
                c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1, c.length);
                }
                if (c.indexOf(nameEQ) == 0) {
                    return c.substring(nameEQ.length, c.length);
                }
            }
            return '';
        }

        var sendRSVP = function () {
            var body = {};
            body.Side = $('#guestof').val();
            body.FirstName = $('#guestfname').val();
            body.LastName = $('#guestlname').val();
            body.Email = $('#guestemail').val();
            body.WeddingId = getParameterByName('weddingID');
            if (body.Side != "" && body.FirstName != "" && body.LastName != "" && body.Email != "" && body.WeddingId != "") {
                var url = '/api/RSVP';
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: url,
                    data: JSON.stringify(body),
                    success: function (data) {
                        window.location.href = 'sendviewrsvp.html?weddingID=' + data;
                    },
                    failure: function (data) {
                        alert("Sorry it looks like that didn't work. Why don't you try again");
                        console.error(data);
                    }
                });
            }
            else
                alert('Fill in the rest of those fields');
        };
        //when the user clicks resend rsvp, this api will resend the email to the guest
        var ReSendRSVP = function () {
            $.ajax({
                type: "PUT",
                contentType: "application/json",
                url: '/api/RSVP/'+,
                data: JSON.stringify(body),
                success: function (data) {
                    window.location.href = 'sendviewrsvp.html?weddingID=' + data;
                },
                failure: function (data) {
                    alert("Sorry it looks like that didn't work. Why don't you try again");
                    console.error(data);
                }
            });
        };

        var LoadRSVPs = function() {
            var weddingId = getParameterByName('weddingID');
            $.getJSON('/api/RSVP?WeddingId=' + weddingId, function(data){
                
            })
        }

        var logOut = function () {
            writeCookie('sessionId', "", -1);
            window.location.href = '../index.html'
        };

        var mainMenu = function () {
            var prodId = getParameterByName('weddingID');
            window.location.href = 'UserTabs.html?weddingID=' + prodId;
        }
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        function loadSendViewRSVP() {
            
            var sId = readCookie('sessionId');

            if (sId == 'True') {
                var weddingId = getParameterByName('weddingID');
                $.getJSON('/api/RSVP?WeddingId=' + weddingId, function(data){
                    for (var i = 0; i < data.length; i++) {
                        var table = $('#RSVPs');
                        table.append("<tr id='row" + i + "'></tr>");
                        var row = $('#row'+i);
                        row.append("<td>" + data[i].Attendee.Person.FirstName + "</td>");
                        row.append("<td>" + data[i].Attendee.Person.LastName + "</td>");
                        row.append("<td>" + data[i].Attendee.Person.Email + "</td>");
                        row.append("<td>" + data[i].Attendee.NumberOfRSVPs + "</td>");
                        row.append("<td>" + data[i].Attendee.Attending + "</td>");
                        row.append("<td><button onclick='ResendRSVP(" + data[i].RSVP.RSVPLinkID + ")'></button></td>");
                    }
                })
            }
            else
            {
                window.location.href = '../index.html';
            }
        }
        
    </script>
</head>
<body onload="loadSendViewRSVP()">
    <p>Please enter the name and email of a guest, and select Save.</p>
    <form action="">
        First Name:<br /><input type="text" id="guestfname">
        <br>
        Last Name:<br /><input type="text" id="guestlname">
        <br>
        Email:<br /><input type="email" id="guestemail">
        <br>
        Guest of the: 
        <select id="guestof">
            <option value="Bride" checked>Bride</option>
            <option value="Groom">Groom</option>
           
       </select>
            <br>
            <br>
            <input type="button" value="Save" onclick="sendRSVP();" class="myButton">
            <input type="button" value="Main Menu" onclick="mainMenu();" class="myButton">
            <input type="button" value="Log Out" onclick="logOut();" class="myButton">
</form>

    <table id="RSVPs">
        <tr>
            <td>Guest First Name</td>
            <td>Guest Last Name</td>
            <td>Email</td>
            <td>Count</td>
            <td>Status</td>
            <td>Re-send invitation</td>
        </tr>  <!-- add a loop that displays all guests to whom the invitation was already sent -->
    </table>


</body>
</html>