﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>Upload Pictures</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript">

        var logout = function () {
            window.location.href = '../index.html'
        }
        var uploadPic = function () {
            var WeddingID = $('#weddingid').val();//this field is not on the page, but we need to figure out how to have the wedding ID to pass to the API
            var newPicture = $('#img').val();//this is the picture that the user just browsed to

            var url = 'api/UpLoadPic?wedID=' + WeddingID + '&newPicture=' + newPicture;
            $.get(url);
        }

        function preview() {

            var prodId = getParameterByName('weddingID');
            var str = window.location.href;
            var n = str.lastIndexOf('/');
            var result = str.substr(0, n);

            window.open(result + '/weddingpage.html?weddingID=' + prodId);

        }

        var loadUploadPicture = function () {
            //load page

        }

        var mainMenu = function () {
            var prodId = getParameterByName('weddingID');
            window.location.href = 'UserTabs.html?weddingID=' + prodId;
        }

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

    </script>
</head>
<body onload="loadUploadPicture()">
    
       <!-- add a loop that displays all pictures associated with this account -->
    <p>Pictures currently Uploaded...</p>
    <br /><img src="NOPIC.jpg" alt="sample1";"><a href=""><br />delete</a>
    <br /><img src="NOPIC.jpg" alt="sample2" ;"><a href=""><br />delete</a>
    <br /><img src="NOPIC.jpg" alt="sample3" ;"><a href=""><br />delete</a>
    <br /><br /> 
    <form action="upload_image.asp">
        Upload a new picture: <br /><input type="file" id="img"><input type="button" onclick="" value="Submit" class="myButton" />
        <br /><br />
        <input type="button" onclick="uploadPic();" value="Save" class="myButton" >
        <input type="button" onclick="preview();" value="Preview Site" class="myButton">
        <input type="button" onclick="mainMenu();" value="Main Menu" class="myButton">
        <input type="button" onclick="logout();" value="Log Out" class="myButton">
    </form>




</body>
</html>