﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>Upload Pictures</title>
    <script>
        var logOut = function () {

            window.location.href = '../index.html'

        };

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        var loadUserTabs = function () {
            var prodId = getParameterByName('weddingID');
            alert(prodId);
        }

        var redirectLink = function (urlLink) {
            var prodId = getParameterByName('weddingID');
            window.location.href = urlLink + '?weddingID=' + prodId;
        }

    </script>
</head>
<body onload="loadUserTabs()">
    <br />
    <p>Log in successful..</p>
    <p>Welcome to your personalized wedding page builder</p>
    <p>Share your URL with family and friends: http://www......</p>
    
        <table align="center">
            <tr>
                <td><a onclick="redirectLink('profileupdate.html')">Update User Profile</a></td>      
            </tr>
            <tr>
                <td><a onclick="redirectLink('Venue.html')">Venue</a></td>
            </tr>
            <tr>
                <td><a onclick="redirectLink('weddingparty.html')">Wedding Party</a></td>
            </tr>
            <tr>
                <td><a onclick="redirectLink('uploadpictures.html')">Upload Pictures</a></td>
            </tr>
            <tr>
                <td><a onclick="redirectLink('sendviewrsvp.html')">Send/View RSVP</a></td>
            </tr>
            <tr>
                <td><form><input type="button" onClick="logOut();" value="Log Out"></form></td>
            </tr>
        </table>
 
   
</body>
</html>