﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>Upload Pictures</title>
    <script>

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        var loadUserTabs = function () {
            var prodId = getParameterByName('weddingID');
            alert(prodId);
        }

    </script>
</head>
<body onload="loadUserTabs()">
    <br />
    <p>Log in successful..</p>
    <p>Welcome to your personalized wedding page builder</p>
    <p>Share your URL with family and friends: http://www......</p>
    
        <table align="center">
            <tr>
                <td><a href="profileupdate.html">Update User Profile</a></td>
            </tr>
            <tr>
                <td><a href="Venue.html">Venue</a></td>
            </tr>
            <tr>
                <td><a href="weddingparty.html">Wedding Party</a></td>
            </tr>
            <tr>
                <td><a href="uploadpictures.html">Upload Pictures</a></td>
            </tr>
            <tr>
                <td><a href="sendviewrsvp.html">Send/View RSVP</a></td>
            </tr>
            <tr>
                <td><a href=".html">Log out</a></td>
            </tr>
        </table>
 
   
</body>
</html>