﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>User Tabs</title>
    <script>

        function readCookie(name) {
            var i, c, ca, nameEQ = name + "=";
            ca = document.cookie.split(';');
            for (i = 0; i < ca.length; i++) {
                c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1, c.length);
                }
                if (c.indexOf(nameEQ) == 0) {
                    return c.substring(nameEQ.length, c.length);
                }
            }
            return '';
        }

        var logOut = function () {

            writeCookie('sessionId', "", -1);
            window.location.href = '../index.html'
           

        };

        function writeCookie(name, value, days) {
            var date, expires;
            if (days) {
                date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString();
            } else {
                expires = "";
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }
       

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        var loadUserTabs = function () {
            var sId = readCookie('sessionId');

            if (sId == 'True'){

                var prodId = getParameterByName('weddingID');
                var str = window.location.href;
                var n = str.lastIndexOf('/');
                var result = str.substr(0, n);
                document.getElementById("siteURL").innerHTML = "Share your link with family and friends: <br>" + result + '/weddingpage.html?weddingID=' + prodId;
            }
            else {
                window.location.href = '../index.html'
            }
        }

        function getURL() {
            var prodId = getParameterByName('weddingID');
            var str = window.location.href;
            var n = str.lastIndexOf('/');
            var result = str.substr(0, n);
            
            window.open(result + '/weddingpage.html?weddingID=' + prodId);
        }

        var redirectLink = function (urlLink) {
            var prodId = getParameterByName('weddingID');
            window.location.href = urlLink + '?weddingID=' + prodId;

        }

        

    </script>
</head>
<body onload="loadUserTabs()">
    <br />
    <p>Welcome to your personalized wedding page builder</p>
    <p id="siteURL"></p> 



    <table>
        <tr>
            <td><a onclick="redirectLink('profileupdate.html')">Update User Profile</a></td>
        </tr>
        <tr>
            <td><a onclick="redirectLink('Venue.html')">Venue</a></td>
        </tr>
        <tr>
            <td><a onclick="redirectLink('weddingparty.html')">Wedding Party</a></td>
        </tr>
        <tr>
            <td><a onclick="redirectLink('sendviewrsvp.html')">Send/View RSVP</a></td>
        </tr>
    </table>
        <br /><form> <input type="button" onClick="getURL();" value="Check out your site!" class="myButton"> <input type="button" onClick="logOut();" value="Log Out" class="myButton"> </form>
           
       
 
   
</body>
</html>