<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>Wedding Venue</title>
</head>
<body>

    <h2>Cermoney Information</h2>
    <form action=" ">
        <br>
        Location Name: <input type="text" name="Location">
        Address 1: <input type="text" name="Address">
        City: <input type="text" name="City">
        State: <input type="text" name="State">
        Zip Code: <input type="text" name="Zip">
        Date: <input type="date" name="datepicker">

    </form>


    <h2>Reception Information</h2>

    <form action=" ">
        <br>
        Location Name: <input type="text" name="Location">
        Address 1: <input type="text" name="Address">
        City: <input type="text" name="City">
        State: <input type="text" name="State">
        Zip Code: <input type="text" name="Zip">
        
        Date: <input type="date" name="datepicker">
 <br>
        <input type="button" onClick="save();" value="Save">
        <input type="button" onClick="preview();" value="Preview Site">
        <input type="button" onClick="logOut();" value="Log Out">
        <br>
    </form>

</body>
</html>
