<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>Wedding Venue</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript">
             
        //set the ceremony information 
        var CName = $('#Location1').val();
        var Caddress = $('#Address1').val();
        var Ccity = $('#City1').val();
        var Czip = $('#Zip1').val();
        var Cdate = $('#datepicker1').val();

        //set the reception information 
        var RName = $('#Location2').val();
        var Raddress = $('#Address2').val();
        var Rcity = $('#City2').val();
        var Rzip = $('#Zip2').val();
        var Rdate = $('#datepicker2').val();
        
        function writeCookie(name, value, days) {
            var date, expires;
            if (days) {
                date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString();
            } else {
                expires = "";
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var i, c, ca, nameEQ = name + "=";
            ca = document.cookie.split(';');
            for (i = 0; i < ca.length; i++) {
                c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1, c.length);
                }
                if (c.indexOf(nameEQ) == 0) {
                    return c.substring(nameEQ.length, c.length);
                }
            }
            return '';
        }
      
        //redirect user to the main login page(index.html)
        var logOut = function () {
            writeCookie('sessionId', "", -1);
            window.location.href = '../index.html'

        };

        var mainMenu = function () {
            var prodId = getParameterByName('weddingID');
            window.location.href = 'UserTabs.html?weddingID=' + prodId;
        }

        var saveVenue = function () {
            
            //assign the url values 
            var url = 'api/Venue?Location1=' + CName + '&Address1=' + Caddress + '&City1=' + Ccity
                + '&Zip1=' + Czip + '&datepicker1=' + Cdate + '&Location2=' + RName + '&Address2=' + Raddress + '&City2='
                + Rcity + '&Zip2=' + Rzip + '&datepicker2=' + Rdate;
            $.get(url);
          
            
        };

        $(document).ready(function(){
            $("#Save").click(function () {
                if (CName == "" || CName == null) {
                    alert("Venue Name Required");
                    return false;
                }
            });
            });
        //var validation = function () {
        //    var x = document.forms["myform"]["Location1"].value;
        //    if (x == "") {
        //        //alert("Please enter location");
        //        document.getElementById("Location1").style.display = "Error";
        //       return false;
        //    }
        //}

        var loadVenue = function () {
            
             var sId = readCookie('sessionId');

            if (sId == 'True') {

                //ceremony information
                $('#Location1').val();
                $('#Address1').val();
                $('#City1').val();
                $('#State1').val();
                $('#Zip1').val();
                document.getElementById("datepicker1").defaultValue = "2020-02-09";

                //reception information 
                $('#Location2').val('Ritz Carlton');
                $('#Address2').val('123 Waikiki Beach Avenue');
                $('#City2').val('Honolulu');
                $('#State2').val('HI');
                $('#Zip2').val('96861');
                document.getElementById("datepicker2").defaultValue = "2020-02-10";
            
                var prodId = getParameterByName('weddingID');
                var str = window.location.href;
                var n = str.lastIndexOf('/');
                var result = str.substr(0, n);
            }
            else {
                window.location.href = '../index.html'
            }
           
           
        };

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

    </script>
</head>
<body onload="loadVenue()">

    <h2>Cermony Information</h2>
    <form name = "myform" action=" ">
        <br>
        Location Name: <br /><input type="text" id="Location1" required> <br />
        Address 1: <br /><input type="text" id="Address1"> <br />
        City: <br /><input type="text" id="City1"><br />
        State: <br /><input type="text" id="State1"><br />
        Zip Code: <br /><input type="text" id="Zip1"><br />
        Date: <br /><input type="date" id="datepicker1" />

    </form>


    <h2>Reception Information</h2>

    <form action=" ">
        <br>
        Location Name: <br /><input type="text" id="Location2"> <br />
        Address 1: <br /><input type="text" id="Address2"><br />
        City: <br /><input type="text" id="City2"> <br />
        State: <br /><input type="text" id="State2"> <br />
        Zip Code: <br /><input type="text" id="Zip2">    <br />    
        Date: <br /><input type="date" id="datepicker2"> <br />
 <br>
        <input type="submit" onclick="saveVenue();" value="Save" class="myButton" id="Save">
        <input type="button" onclick="mainMenu();" value="Main Menu" class="myButton">
        <input type="button" onClick="logOut();" value="Log Out" class="myButton">
        

        <br>
    </form>

</body>
</html>
