﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>Wedding Party</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript">      

        function writeCookie(name, value, days) {
            var date, expires;
            if (days) {
                date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString();
            } else {
                expires = "";
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var i, c, ca, nameEQ = name + "=";
            ca = document.cookie.split(';');
            for (i = 0; i < ca.length; i++) {
                c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1, c.length);
                }
                if (c.indexOf(nameEQ) == 0) {
                    return c.substring(nameEQ.length, c.length);
                }
            }
            return '';
        }

       // var coupleImg = $('#pic').val();
        var fname = $('#firstname').val();
        var lname = $('#lastname').val();
        var side = $('#side').val();
        var relationship = $('#relationship').val();
        var role = $('#role').val();
        var comments = $('#comments').val();
       // var PersonImg = $('#image').val();

        //redirect user to the main login page(index.html)
        var logOut = function () {
            window.location.href = '../index.html'
        };

        var mainMenu = function () {
            var weddingID = getParameterByName('weddingID');
            window.location.href = 'UserTabs.html?weddingID=' + weddingID;
        }


        var getWeddingParty = function () {
            var body = {};
            body.FirstName = $('#fname' ).val();
            body.LastName = $('#lname' ).val();
            body.Side = $('#side' ).val();
            body.Relationship = $('#relationship' ).val();
            body.Role = $('#role' ).val();
            body.PartyMemberBlurb = $('#comments').val();
            body.PartyMember = true;
            return body;
        }

        var saveWedParty = function () {
            var weddingId = getParameterByName('weddingID');
            if (weddingId != "") {
                var body = getWeddingParty();
                if (body) {
                    body.WeddingId = weddingId

                    $.ajax({
                        type: "POST",
                        url: "/api/Attendee",
                        contentType: "application/json",
                        data: JSON.stringify(body),
                        success: function (data) {
                            if (data) {
                                alert("Saved Successfully");
                            }
                            else {
                                alert("Looks like something went wrong!");
                            }
                        }
                    })
                }
            }
            
        };

        var loadWeddingParty = function () {

            var sId = readCookie('sessionId');
            var weddingId = getParameterByName('weddingID');
            if (sId == 'True') {
                if (weddingId != "") {
                    var url = '/api/Attendee?option=party&WeddingId=' + weddingId;

                    $.getJSON(url, function (data) {
                        var tr;
                        for (var i = 0; i < data.length; i++) {
                            var table = $('#table');
                            table.append("<tr id='row" + i + "'></tr>");
                            var row = $('#row'+i);
                            row.append("<td>" + data[i].Person.FirstName + "</td>");
                            row.append("<td>" + data[i].Person.LastName + "</td>");
                            row.append("<td>" + data[i].Side + "</td>");
                            row.append("<td>" + data[i].Role + "</td>");
                            row.append("<td>" + data[i].Relationship + "</td>");
                            row.append("<td>" + data[i].PartyMemberBlurb+ "</td>");
                        }
                    });
                }
                else {
                    window.location.href = '../index.html'
                }

            };
        }
            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }
        
    </script>
</head>
<body onload="loadWeddingParty()">
    <p>Wedding Couple</p>
 
        Image of the Couple: <br /><input type="file" id="pic" accept="image/*">
        
        <br>   
    <textarea rows="20" cols="50"> Tell us your story! </textarea>
    <form action=" ">
        <p>Wedding Party</p>
        First name:  <br /><input type="text" id="fname">
        <br>
        Last name:   <br /><input type="text" id="lname">
        <br>
        Bride/Groom Side: 
        <select id="side">
            <option value="Bride">Bride</option>
            <option value="Groom">Groom</option>
        </select>
        <br>
        <br>
        Relationship:  <br /><input type="text" id="relationship">
        <br>
        Role: <br /> <input type="text" id="role">
        <br>
        Image: <br /><input type="file" id="image" accept="image/*">
        <br>
    </form>
    <br />
        <textarea rows="5" cols="50" id="comments"> Special Comments.</textarea>
    <br />
    <br />
    <table id="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Side</th>
            <th>Relationship</th>
            <th>Role</th>
            <th>Comments</th>
        </tr>
    </table>

    <br />
    <!--Need to query database to get information into the table-->
    <form action=" ">
        <input type="button" onclick="saveWedParty();" value="Save" class="myButton">
        <input type="button" onclick="mainMenu();" value="Main Menu" class="myButton">
        <input type="button" onClick="logOut();" value="Log Out" class="myButton">
        <br>
    </form>    
</body>
</html>
