﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>Wedding Party</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript">

        var coupleImg = $('#pic').val();
        var fname = $('#firstname').val();
        var lname = $('#lastname').val();
        var side = $('#side').val();
        var relationship = $('#relationship').val();
        var role = $('#role').val();
        var PersonImg = $('#image').val();

        function writeCookie(name, value, days) {
            var date, expires;
            if (days) {
                date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString();
            } else {
                expires = "";
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var i, c, ca, nameEQ = name + "=";
            ca = document.cookie.split(';');
            for (i = 0; i < ca.length; i++) {
                c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1, c.length);
                }
                if (c.indexOf(nameEQ) == 0) {
                    return c.substring(nameEQ.length, c.length);
                }
            }
            return '';
        }

        //redirect user to the main login page(index.html)
        var logOut = function () {

            window.location.href = '../index.html'

        };

        var mainMenu = function () {
            var prodId = getParameterByName('weddingID');
            window.location.href = 'UserTabs.html?weddingID=' + prodId;
        }

        var saveWedParty = function () {
            
            var url = 'api/WeddingParty?pic=' + coupleImg + '&fname=' + firstname + '&lname=' + lastname
                + '&side=' + side + '&relationship=' + relationship + '&role=' + role + '&image=' + PersonImg;

            $.get(url, function (data) {
                console.log(data);
            });
        };

        var loadWeddingParty = function() {
            
            
            var sId = readCookie('sessionId');

            if (sId == 'True') {
                
                $('#pic').val();
                $('#firstname').val('Jennifer');
                $('#lastname').val('Lawrence');
                $('#side').val('bride');
                $('#relationship').val('Best Friend');
                $('#role').val('Maid of Honor');

                var prodId = getParameterByName('weddingID');
                var str = window.location.href;
                var n = str.lastIndexOf('/');
                var result = str.substr(0, n);
            }
            else {
                window.location.href = '../index.html'
            }
            
        };

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    </script>
</head>
<body onload="loadWeddingParty()">
    <p>Wedding Couple</p>
 
        Image of the Couple: <br /><input type="file" id="pic" accept="image/*">
        
        <br>   
    <textarea rows="20" cols="50"> Tell us your story! </textarea>
    <form action=" ">
        <p>Wedding Party</p>
        First name:  <br /><input type="text" id="firstname">
        <br>
        Last name:   <br /><input type="text" id="lastname">
        <br>
        Bride/Groom Side:        
        <input type="radio" id="side" value="Bride" checked>Bride
        <input type="radio" id="side" value="Groom">Groom
        <br>
        <br>
        Relationship:  <br /><input type="text" id="relationship">
        <br>
        Role: <br /> <input type="text" id="role">
        <br>
        Image: <br /><input type="file" id="image" accept="image/*">
        <br>
    </form>
    <br />
        <textarea rows="5" cols="50"> Special Comments.</textarea>
    <br />
    <br />
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Side</th>
            <th>Relationship</th>
            <th>Role</th>
            <th>Comments</th>
        </tr>
    </table>

    <br />
    <!--Need to query database to get information into the table-->
    <form action=" ">
        <input type="button" onclick="saveWedParty();" value="Save" class="myButton">
        <input type="button" onclick="mainMenu();" value="Main Menu" class="myButton">
        <input type="button" onClick="logOut();" value="Log Out" class="myButton">
        <br>
    </form>    
</body>
</html>
