<!DOCTYPE html>
<html>
<head>
    <title>Welcome to my Wedding Page</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/style2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript">

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        var loadCouple = function () {
            var weddingId = getParameterByName('weddingID');
            if (weddingId != "") {
                var url = '/api/Attendee?option=couple&WeddingId=' + weddingId;

                $.getJSON(url, function (data) {
                    if (data.length > 0) {
                        $('#brideorgroom1').html(data[0].WeddingRole);
                        $('#Name1').html(data[0].Person.FirstName + ' ' + data[0].Person.LastName);
                        $('#AttendeeId1').val(data[0].AttendeeID);
 
                        $('#brideorgroom2').html(data[1].WeddingRole);
                        $('#Name2').html(data[1].Person.FirstName + ' ' + data[1].Person.LastName);
                        $('#AttendeeId2').val(data[1].AttendeeID);
                            
                    }
                    loadVenue();
                });
            }
        }

        var loadVenue = function () {
            var weddingId = getParameterByName('weddingID');
            if (weddingId != "") {
                var url = '/api/Ceremony?&WeddingId=' + weddingId;

                $.getJSON(url, function (data) {
                    $('#Location1').html(data.LocationName);
                    $('#Address1').html(data.Address1);
                    $('#City1').html(data.City);
                    $('#State1').html(data.StateProv);
                    $('#Zip1').html(data.ZipCode);
                    $('#datepicker1').html(data.CeremonyDateTime);

                });
                var url = '/api/Reception?&WeddingId=' + weddingId;
                $.getJSON(url, function (data) {

                    $('#Location2').html(data.LocationName);
                    $('#Address2').html(data.Address1);
                    $('#City2').html(data.City);
                    $('#State2').html(data.StateProv);
                    $('#Zip2').html(data.ZipCode);
                    $('#datepicker2').html(data.ReceptionDateTime);

                });
                loadWeddingParty();
            }
        };

        var loadWeddingParty = function () {
            var weddingId = getParameterByName('weddingID');
            if (weddingId != "") {
                var url = '/api/Attendee?option=party&WeddingId=' + weddingId;

                $.getJSON(url, function (data) {
                    var tr;
                    for (var i = 0; i < data.length; i++) {
                        var table = $('#table');
                        table.append("<tr id='row" + i + "'></tr>");
                        var row = $('#row' + i);
                        row.append("<td>" + data[i].Person.FirstName + "</td>");
                        row.append("<td>" + data[i].Person.LastName + "</td>");
                        row.append("<td>" + data[i].Side + "</td>");
                        row.append("<td>" + data[i].Relationship + "</td>");
                        row.append("<td>" + data[i].WeddingRole + "</td>");
                        row.append("<td>" + data[i].PartyMemberBlurb + "</td>");
                    }
                        
                });
            }
            else {
                window.location.href = '../index.html'
            }
        }

    </script>
   
</head>
<body onload="loadCouple()">
        <h1>Welcome to Our Wedding</h1>
        <br />
        <div id="brideorgroom1"></div>
        ________________________
        <div id="Name1"></div>

        <br />
        <div id="brideorgroom2"></div>
        ________________________
        <div id="Name2"></div>
        <br />
        <br />
        <p>Wedding Party</p>
        <br />
        <table id="table">
            <!--wedding party table to populate-->
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Side</th>
                <th>Relationship</th>
                <th>Role</th>
                <th>Comments</th>
            </tr>
        </table>
        <br />
        <br />
        <p>Ceremony Information</p>
        <div id="Location1"></div>
        <div id="Address1"></div>
        <div id="City1"></div>
        <div id="State1"></div>
        <div id="Zip1"></div>
        <div id="datepicker1"></div>
        <br />
        <br />
        <p>Reception Information</p>
        <div id="Location2"></div>
        <div id="Address2"></div>
        <div id="City2"></div>
        <div id="State2"></div>
        <div id="Zip2"></div>
        <div id="datepicker2"></div>
        <br />
</body>
</html>
