<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Wedding Venue</title>
</head>
<body>


    <p>Cermoney Information</p>
    Location Name:
    Address 1:
    City:
    State:
    Zip Code:

    Select Date of Event [calander view]


    <p>Reception Information</p>
    Location Name:
    Address 1:
    City:
    State:
    Zip Code:

    Select Date of Event [calander view]

    Question to the team: do we want to implement all input in 1 page or multiple?

   
    [Save] [Preview Site] [Log out]

</body>
</html>