<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Wedding Venue</title>
</head>
<body>

    <p>Wedding Couple</p>
    Upload Photo: [Browse Button]
    Tell us your story: [   ]

    <p>Wedding Party</p>
    First Name:
    Last Name:
    Drop Down: [Bride or Groom side]
    Relationship:
    Role:
    Open Comments Field:
    Picture
    [Add]

    Table: (can see everyone that was added)

    [Save] [Preview Site] [Log out]

    [Show the link that can be shared with others] need to discuss how to implement this.


</body>
</html>